body {
    margin: 0;
    padding: 0;
}

.state_game {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;

}

.table_wrapper {
    position: relative;
    height: 80vh;
    top: 10vh;
    background-color: brown;


}

.table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    height: 70vh;
    width: 70vh;
    top: 5vh;
    background-color: aqua;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    background-color: blue;

}
.cell {
    flex-grow: 1;
    background-color: chartreuse;
    border: 1px solid darkgray;

}

.cell.color-1{

}
