body {
    margin: 0;
    padding: 0;
}

.state {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: none;
}

.show {
    display: inherit;
}

.table_wrapper {
    position: relative;
    height: 80vh;
    top: 10vh;
    background-color: brown;
}

.table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    height: 70vh;
    width: 70vh;
    top: 5vh;
    background-color: aqua;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    background-color: blue;
}

.cell {
    flex-grow: 1;
    background-color: chartreuse;
    border: 1px solid darkgray;
}

    .cell.color-1 {
    }

.level {
    width: 500px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    margin: 16px;
    background-color: aliceblue;
    display: inline-block;
}
