
* {
    box-sizing: border-box;
}

.container {
    width: auto;
    margin: auto;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

@keyframes top {
    from {
        transform: translate(0rem, 0);
    }
    to {
        transform: translate(0rem, 3.5rem);
    }
}
@keyframes bottom {
    from {
        transform: translate(-11.5rem, 0);
    }
    to {
        transform: translate(0rem, 0);
    }
}
.btn {
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    color: #111111;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}
.btn::after, .btn::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 10%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
    border-radius: 50%;
}
.btn::before {
    background-color: #bd9200;
    top: -0.75rem;
    left: 0.5rem;
    animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
.btn::after {
    background-color: #ffcd00;
    top: 3rem;
    left: 13rem;
    animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
.btn:hover {
    color: white;
}
.btn:hover::before, .btn:hover::after {
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    animation: none;
}
.btn:hover::after {
    left: 0rem;
}
.btn:hover::before {
    top: 0.5rem;
    left: 0.35rem;
}