@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: #111111;
}

.wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    height: 80%;
    width: 100%;
    background-color: #faf5b4;
}

.wrapper.main-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: none;
}

.wrapper.levels_wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    min-height: 80vh;
}

.wrapper.table_wrapper {
}

.state {
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    display: none;
}

#state-levels {
    height: 100%;
}
#state-levels .navigate_panel {
    height: 10vh;
}

#state-lvl_complete {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.navigate_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bfc9c9;
    height: 10%;
}

.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.button_navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

.show {
    display: flex;
}

.table_wrapper {
}

.info_wrapper {
    position: relative;
    top: 15%;
    height: 80%;
    background-color: #faf5b4;
}

.info_wrapper .info {
    position: relative;
    font-size: 8vw;
}

.svg-mute {
    height: 8vh;
    cursor: pointer;
}

.circle_lg {
    stroke-dasharray: 600px, 1500px;
    transition: all .5s;
}

.circle_sm {
    opacity: 1;
    transition: all .25s;
}

.svg-mute.mute .circle_lg {
    stroke-dashoffset: -1360px;
}

.svg-mute.mute .circle_sm {
    opacity: 0;
}

.table {
    position: relative;
    height: 50vh;
    width: 50vh;
    background-color: aqua;
    max-width: 70vh;
    margin: auto;
}

.table .row {
    position: relative;
    width: 100%;
    background-color: #474b55;
    font-size: 0;
}

.table .row .cell {
    display: inline-block;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    font-size: 8vh;
}

.table .row .cell .value_wrapper {
    width: 100%;
    height: 100%;
    background-color: #ffcd00;
    position: relative;
}

.table .row .cell .value_wrapper:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.table .row .cell .value_wrapper .value {
    position: absolute;
    left: 50%;
    margin-left: -20%;
}

.table .row .cell.d_up-down:after,
.table .row .cell.d_left-right:after,
.table .row .cell.d_up-left:after,
.table .row .cell.d_up-left:before,
.table .row .cell.d_up-right:after,
.table .row .cell.d_up-right:before,
.table .row .cell.d_down-left:after,
.table .row .cell.d_down-left:before,
.table .row .cell.d_down-right:after,
.table .row .cell.d_down-right:before {
    position: absolute;
    display: block;
    content: '';
    background-color: gray;
    z-index: 1;
}

.table .row .cell.d_up-down:after {
    width: 30%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -15%;
}

.table .row .cell.d_up-down:before {
    width: 30%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -15%;
}

.table .row .cell.d_left-right:after {
    width: 105%;
    height: 30%;
    top: 50%;
    margin-top: -15%;
}

.table .row .cell.d_down-left:after,
.table .row .cell.d_down-right:after,
.table .row .cell.d_up-left:after,
.table .row .cell.d_up-right:after {
    width: 30%;
    height: 65%;
    left: 50%;
    margin-left: -15%;
}

.table .row .cell.d_down-left:before,
.table .row .cell.d_down-right:before,
.table .row .cell.d_up-left:before,
.table .row .cell.d_up-right:before {
    width: 65%;
    height: 30%;
    top: 50%;
    margin-top: -15%;
    margin-right: -2px;
}

.table .row .cell.d_down-left:after,
.table .row .cell.d_down-right:after {
    bottom: 0;
}

.table .row .cell.d_up-left:after,
.table .row .cell.d_up-right:after {
    top: 0;
}

.table .row .cell.d_up-left:before,
.table .row .cell.d_down-left:before {
    left: 0;
}

.table .row .cell.d_up-right:before,
.table .row .cell.d_down-right:before {
    right: 0;
}

.value_wrapper.color-1,
.value_wrapper.color-2,
.value_wrapper.color-3,
.value_wrapper.color-4,
.value_wrapper.color-5,
.value_wrapper.color-6,
.value_wrapper.color-7,
.value_wrapper.color-8 {
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.value_wrapper.color-1 {
    background-image: url("../img/icon/icon1.png");
}

.value_wrapper.color-2 {
    background-image: url("../img/icon/icon2.png");
}

.value_wrapper.color-3 {
    background-image: url("../img/icon/icon3.png");
}

.value_wrapper.color-4 {
    background-image: url("../img/icon/icon4.png");
}

.value_wrapper.color-5 {
    background-image: url("../img/icon/icon5.png");
}

.value_wrapper.color-6 {
    background-image: url("../img/icon/icon6.png");
}

.value_wrapper.color-7 {
    background-image: url("../img/icon/icon7.png");
}

.value_wrapper.color-8 {
    background-image: url("../img/icon/icon8.png");
}

.cell .color-1,
.cell.color-1:after,
.cell.color-1:before {
    background-color: #7cff00 !important;
}

.cell .color-2,
.cell.color-2:after,
.cell.color-2:before {
    background-color: #ff6b03 !important;
}

.cell .color-3,
.cell.color-3:after,
.cell.color-3:before {
    background-color: #ff0200 !important;
}

.cell .color-4,
.cell.color-4:after,
.cell.color-4:before {
    background-color: #ff00c4 !important;
}

.cell .color-5,
.cell.color-5:after,
.cell.color-5:before {
    background-color: #8100ff !important;
}

.cell .color-6,
.cell.color-6:after,
.cell.color-6:before {
    background-color: #0413ff !important;
}

.cell .color-7,
.cell.color-7:after,
.cell.color-7:before {
    background-color: #00ffff !important;
}

.cell .color-8,
.cell.color-8:after,
.cell.color-8:before {
    background-color: #00ff3d !important;
}

.disabled {
    -webkit-filter: saturate(50%) !important;
    filter: saturate(50%) !important;
}

/*Size cell 5*/
.table.size-5 .row {
    height: 20%;
}

.table.size-5 .row .cell {
    padding: 0.5%;
    width: 20%;
}

.table.size-5 .row .cell .value_wrapper .value {
    font-size: 1em;
}

/*Size cell 6*/
.table.size-6 .row {
    height: 16.666%;
}

.table.size-6 .row .cell {
    padding: 0.4%;
    width: 16.666%;
}

.table.size-6 .row .cell .value_wrapper .value {
    font-size: 0.85em;

}

/*Size cell 7*/
.table.size-7 .row {
    height: 14.285%;
}

.table.size-7 .row .cell {
    padding: 0.35%;
    width: 14.285%;
}

.table.size-7 .row .cell .value_wrapper .value {
    font-size: 0.70em;

}

/*Size cell 8*/
.table.size-8 .row {
    height: 12.5%;
}

.table.size-8 .row .cell {
    padding: 0.3%;
    width: 12.5%;
}

.table.size-8 .row .cell .value_wrapper .value {
    font-size: 0.6em;

}