@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
    font-size: 5px;
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    height: 100vh;
    width: 100vw;
    background: #f0f0f0;
    font-family: CoText-Bold, CoText_Bd, "Lato", sans-serif;
}

.close {
    display: block;
    position: absolute;
    top: 2vh;
    right: 8vh;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 4vh;
    width: 8vh;
    height: 1vh;
    background: #3d3d3d;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.btn {
    cursor: pointer;
    color: #3d3d3d;
    width: 40%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/start-game.png") no-repeat center center;
    background-size: contain;
    z-index: 5;
}

.btn.start {
    width: 60%;
    height: 30%;
    font-size: 15em;
    margin: auto;
}

.btn.rules {
    font-size: 12em;
    cursor: auto;
    width: 25%;
    height: 20%;
    position: absolute;
    top: 8%;
    right: 8%;
}

.text_rules {
    position: absolute;
    right: 10%;
    top: 35%;
    font-family: CoText-Regular, CoText_Rg, "Lato", sans-serif;
}

.text_rules p {
    font-size: 10em;
    line-height: 1.5em;
    text-align: right;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    height: 76%;
    width: 100%;
    background: #f0f0f0;
}

.stars {
    display: block;
    position: absolute;
}

.stars.n1 {
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: url("../img/stars1.png") no-repeat;
    background-size: contain;
}

.stars.n2 {
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    background: url("../img/stars2.png") no-repeat;
    background-size: contain;
}

.moon {
    display: block;
    position: absolute;
    top: 5%;
    left: 8%;
    height: 15%;
    width: 15%;
    background: url("../img/moon.png") no-repeat;
    background-size: contain;
}

.dreams-keeper {
    display: block;
    position: absolute;
    top: 5%;
    left: 10%;
    background: url("../img/dreams-keeper3.png") no-repeat;
    background-size: contain;
}

.levels_wrapper .dreams-keeper {
    position: absolute;
    height: 60%;
    width: 14%;
    top: -12%;
    left: 0;
    background-position: 80%;
}

#state-main .navigate_panel {
    justify-content: flex-start;
}

.btn.show_rules {
    font-size: 5em;
    width: 40%;
    height: 80%;
}

.btn.rules {
    width: 40%;
    height: 30%;
}

.text_rules {
    top: 45%;
}

.stars.n3 {
    bottom: 0;
    right: 0;
    height: 15%;
    width: 60%;
    background: url("../img/stars3.png") no-repeat;
    background-size: contain;
}

.wrapper.main-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: none;
}

.wrapper.lvl_complete_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.85);
}

.wrapper.lvl_complete_wrapper .complete_level {
    color: red;
    background: url("../img/moon.png") no-repeat center left;
    background-size: contain;
    text-align: center;
    font-size: 5vh;
    width: 11vh;
    height: 10vh;
    z-index: 5;
    line-height: 5vh;
}

.wrapper.lvl_complete_wrapper .complete_level:before {
    display: block;
    content: "اليوم ";
    font-size: 1.8vh;
    line-height: 3vh;
}

.wrapper.lvl_complete_wrapper .header {
    color: #f93500;
    font-size: 10vh;
    line-height: 5vh;
}

.wrapper.lvl_complete_wrapper .text {
    font-size: 3.5vh;
    line-height: 1.5vh;
    margin-top: 4vh;
}

.wrapper.lvl_complete_wrapper .text p {
    text-align: center;
}

.wrapper.lvl_complete_wrapper .text p:nth-of-type(n+2) {
    font-family: CoText-Regular, CoText_Rg, "Lato", sans-serif;
}

.wrapper.lvl_complete_wrapper .subscribe {
    font-size: 5vh;
    line-height: 7vh;
}

.wrapper.levels_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 87%;
    padding-left: 13%;
}

.wrapper .level {
    cursor: pointer;
}

.wrapper .level:nth-of-type(11n+1) {
    color: #ff0000;
}

.wrapper .level:nth-of-type(11n+2) {
    color: #bdad00;
}

.wrapper .level:nth-of-type(11n+3) {
    color: #825474;
}

.wrapper .level:nth-of-type(11n+4) {
    color: #256091;
}

.wrapper .level:nth-of-type(11n+5) {
    color: #ffc000;
}

.wrapper .level:nth-of-type(11n+6) {
    color: #4b4b4b;
}

.wrapper .level:nth-of-type(11n+7) {
    color: #9c9c9c;
}

.wrapper .level:nth-of-type(11n+8) {
    color: #ffc000;
}

.wrapper .level:nth-of-type(11n+9) {
    color: #256091;
}

.wrapper .level:nth-of-type(11n+10) {
    color: #4b4b4b;
}

.wrapper .level:nth-of-type(11n+11) {
    color: #9c9c9c;
}

.wrapper .level:nth-of-type(11n+12) {
    color: #ff4200;
}

#btn_full {
    height: 7vh;
    width: 7vh;
    background: url("../img/svg/full-screan.svg") no-repeat center center;
    background-size: contain;
}

#btn_back {
    height: 7vh;
    width: 20vh;
    background: url("../img/back.png") no-repeat center center;
    background-size: contain;
}

.reg_button {
    height: 7vh;
    width: 20vh;
    background: url("../img/reg_button.png") no-repeat center center;
    background-size: contain;
}

.reg_button:active {
    background: url("../img/press_button.png") no-repeat center center;
    background-size: contain;
}

#btn_back:after {
    content: "الرجوع للخلف";
    font-size: 2vh;
    width: 70%;
    text-align: right;
}

#btn_home:after {
    content: "الصفحة الرئيسية";
    font-size: 2vh;
    width: 100%;
    text-align: center;
}

#btn_clear:after {
    content: "ابدا من جديد";
    font-size: 2vh;
    width: 100%;
    text-align: center;
}

.state {
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

#state-lvl_complete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.navigate_panel {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0 repeat-x;
    background-size: contain;
    height: 12%;
    width: 100%;
    z-index: 10;
}

.navigate_panel.top {
    top: 0;
    background-image: url("../img/bg_np_top.png");
}

.navigate_panel.logo:after {
    display: block;
    content: "";
    position: absolute;
    top: 10%;
    left: 4vw;
    height: 80%;
    width: 50%;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;

}

.navigate_panel.bottom {
    bottom: 0;
    background-image: url("../img/bg_np_bottom.png");
}

.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.button_navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    cursor: pointer;
    margin: 0 15% 0 8%;
    text-align: center;
    z-index: 5;
}

.show {
    display: flex;
}

.svg-mute {
    height: 8vh;
    cursor: pointer;
}

.table {
    position: relative;
    background-color: #002c5b;
    margin: auto;
}

.table .row {
    position: relative;
    width: 100%;
    background-color: #002c5b;
    font-size: 0;
}

.table .row .cell {
    display: inline-block;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
}

.table .row .cell.screamer:after {
    display: block;
    position: absolute;
    content: '!';
    color: red;
    top: -40%;
    height: 100%;
    width: 100%;
    z-index: 1;
    font-size: 12vh;
    text-align: center;
}

.table .row .cell .value_wrapper {
    width: 100%;
    height: 100%;
    background-color: #d5d5d5;
    position: relative;
    user-select: none;
}

.table .row .cell .value_wrapper span {
    display: block;
    position: absolute;
    width: 96%;
    height: 96%;
    margin: 3% 2% 1% 2%;
    box-shadow: 0 2px 2px #a4a4a4, 0 -2px 2px #efefef, 2px 0 2px #cacaca, -2px 0 2px #cacaca;
}

.table .row .cell .value_wrapper:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    user-select: none;
}

.table .row .cell .value_wrapper .value {
    position: absolute;
    left: 50%;
    margin-left: -20%;
}

.table .row .cell.d_up-down:after,
.table .row .cell.d_left-right:after,
.table .row .cell.d_up-left:after,
.table .row .cell.d_up-left:before,
.table .row .cell.d_up-right:after,
.table .row .cell.d_up-right:before,
.table .row .cell.d_down-left:after,
.table .row .cell.d_down-left:before,
.table .row .cell.d_down-right:after,
.table .row .cell.d_down-right:before {
    position: absolute;
    display: block;
    content: '';
    background-color: gray;
    z-index: 1;
}

.table .row .cell.d_up-down:after {
    width: 30%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -15%;
}

.table .row .cell.d_up-down:before {
    width: 30%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -15%;
}

.table .row .cell.d_left-right:after {
    width: 105%;
    height: 30%;
    top: 50%;
    margin-top: -15%;
}

.table .row .cell.d_down-left:after,
.table .row .cell.d_down-right:after,
.table .row .cell.d_up-left:after,
.table .row .cell.d_up-right:after {
    width: 30%;
    height: 65%;
    left: 50%;
    margin-left: -15%;
}

.table .row .cell.d_down-left:before,
.table .row .cell.d_down-right:before,
.table .row .cell.d_up-left:before,
.table .row .cell.d_up-right:before {
    width: 65%;
    height: 30%;
    top: 50%;
    margin-top: -15%;
    margin-right: -2px;
}

.table .row .cell.d_down-left:after,
.table .row .cell.d_down-right:after {
    bottom: 0;
}

.table .row .cell.d_up-left:after,
.table .row .cell.d_up-right:after {
    top: 0;
}

.table .row .cell.d_up-left:before,
.table .row .cell.d_down-left:before {
    left: 0;
}

.table .row .cell.d_up-right:before,
.table .row .cell.d_down-right:before {
    right: 0;
}

.value_wrapper.color-1,
.value_wrapper.color-2,
.value_wrapper.color-3,
.value_wrapper.color-4,
.value_wrapper.color-5,
.value_wrapper.color-6,
.value_wrapper.color-7,
.value_wrapper.color-8 {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.value_wrapper.color-1 {
    background-image: url("../img/icon/icon1.png");
}

.value_wrapper.color-2 {
    background-image: url("../img/icon/icon2.png");
}

.value_wrapper.color-3 {
    background-image: url("../img/icon/icon3.png");
}

.value_wrapper.color-4 {
    background-image: url("../img/icon/icon4.png");
}

.value_wrapper.color-5 {
    background-image: url("../img/icon/icon5.png");
}

.value_wrapper.color-6 {
    background-image: url("../img/icon/icon6.png");
}

.value_wrapper.color-7 {
    background-image: url("../img/icon/icon7.png");
}

.value_wrapper.color-8 {
    background-image: url("../img/icon/icon8.png");
}

.cell .color-1,
.cell.color-1:after,
.cell.color-1:before {
    background-color: #5aa343 !important;
}

.cell .color-2,
.cell.color-2:after,
.cell.color-2:before {
    background-color: #ffc000 !important;
}

.cell .color-3,
.cell.color-3:after,
.cell.color-3:before {
    background-color: #825474 !important;
}

.cell .color-4,
.cell.color-4:after,
.cell.color-4:before {
    background-color: #256092 !important;
}

.cell .color-5,
.cell.color-5:after,
.cell.color-5:before {
    background-color: #e35500 !important;
}

.cell .color-6,
.cell.color-6:after,
.cell.color-6:before {
    background-color: #4f4f4f !important;
}

.cell .color-7,
.cell.color-7:after,
.cell.color-7:before {
    background-color: #eeeeee !important;
}

.cell .color-8,
.cell.color-8:after,
.cell.color-8:before {
    background-color: #c2b200 !important;
}

/*.table .row .cell .value_wrapper::before {*/
/*display: none !important;*/
/*}*/
.table .row .cell .value_wrapper span {
    display: none !important;
}

.disabled {
    -webkit-filter: saturate(50%) !important;
    filter: saturate(50%) !important;
}

/*Size cell 5*/
.table.size-5 .row {
    height: 20%;
}

.table.size-5 .row .cell {
    padding: 0.5%;
    width: 20%;
}

.table.size-5 .row .cell .value_wrapper .value {
    font-size: 1em;
}

/*Size cell 6*/
.table.size-6 .row {
    height: 16.666%;
}

.table.size-6 .row .cell {
    padding: 0.4%;
    width: 16.666%;
}

.table.size-6 .row .cell .value_wrapper .value {
    font-size: 0.85em;

}

/*Size cell 7*/
.table.size-7 .row {
    height: 14.285%;
}

.table.size-7 .row .cell {
    padding: 0.35%;
    width: 14.285%;
}

.table.size-7 .row .cell .value_wrapper .value {
    font-size: 0.70em;

}

/*Size cell 8*/
.table.size-8 .row {
    height: 12.5%;
}

.table.size-8 .row .cell {
    padding: 0.3%;
    width: 12.5%;
}

.table.size-8 .row .cell .value_wrapper .value {
    font-size: 0.6em;
}

/*Size cell 8*/
.table.size-9 .row {
    height: 11.11%;
}

.table.size-9 .row .cell {
    padding: 0.28%;
    width: 11.11%;
}

.table.size-9 .row .cell .value_wrapper .value {
    font-size: 0.55em;
}

.wrapper .level {
    position: relative;
    font-size: 15em;
    line-height: 2em;
    background: url("../img/moon.png") no-repeat;
    background-size: contain;
    text-align: center;
    z-index: 5;
    width: 2.3em;
}

.wrapper .level:before {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 0.5em;
    line-height: 1.2em;
    display: block;
    content: "اليوم ";
}

/*!*iOS Safari*!*/
/*.ov-scroll {*/
/*overflow-y: auto;*/
/*-webkit-overflow-scrolling: touch;*/
/*}*/

/*body {*/
/*-webkit-text-size-adjust: none;*/
/*}*/

/*a, label {*/
/*-webkit-tap-highlight-color: transparent;*/
/*}*/